/**
 * Sevendie
 * Admin theme for Drupal 7 based and improved on standard Seven theme.
 * Version: 1.0
 */

/**
 * Generic elements.
 */

body {
  color: #000;
  background: #fff;
  font: normal 85%/1.2em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: #4197cc;
}

a:hover {
  color: #0073ba;
}

hr {
  background: #ccc;
}

.item-list ul li.collapsed,
ul.menu li.collapsed {
  list-style-image: url("../images/menu-collapsed.png");
}

.item-list ul li.expanded,
ul.menu li.expanded {
  list-style-image: url("../images/menu-expanded.png");
}

/**
 * Skip link.
 */

#skip-link a,
#skip-link a:link,
#skip-link a:visited {
  background: #888;
  color: #fff;
  border-radius: 0 0 10px 10px;
}

/**
 * Branding.
 */

#branding {
  background-color: #ccc;
}

#branding div.block {
  background: #333;
}

/**
 * Help.
 */

#help {
  font-size: .923em;
}

/**
 * Page title.
 */

#page-title {
  background: #333;
}

#branding h1.page-title {
  color: #000;
}

/**
 * Tabs.
 */

ul.primary {
  font-size: .9em;
}

ul.primary li a:link,
ul.primary li a.active,
ul.primary li a:active,
ul.primary li a:visited,
ul.primary li a:hover,
ul.primary li.active a {
  background-color: #ccc;
  color: #888;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  border-radius: 10px 10px 0 0;
}

ul.primary li.active a,
ul.primary li.active a.active,
ul.primary li.active a:active,
ul.primary li.active a:visited {
  background-color: #fff;
  border-color: #ccc;
}

ul.primary li a:hover {
  color: #fff;
  border-color: #fff;
}

ul.primary li.active a:hover {
  color: #000;
}

ul.secondary {
  font-size: .923em;
  background-color: #fff;
}

ul.secondary li a {
  background-color: #ccc;
  color: #000;
}

ul.secondary li a,
ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  border-radius: 10px;
}

ul.secondary li a:hover,
ul.secondary li.active a,
ul.secondary li.active a.active {
  color: #fff;
  background: #888;
}

/**
 * Page layout.
 */

#page {
  background: #fff;
  color: #333;
}

#secondary-links ul.links li a {
  font-size: .923em;
  background: #888;
  color: #fff;
  border-radius: 4px;
}

#secondary-links ul.links li a:hover {
  background: #333;
}

#secondary-links ul.links li.active-trail a,
#secondary-links ul.links li a.active {
  background: #333;
}

ul.admin-list li {
  padding-left: 28px;
  padding-top: 8px;
  border-top: 1px solid #ccc;
  background: url("../images/list-item.png") no-repeat 0 6px;
}

div.submitted {
  color: #888;
}

/**
 * Tables.
 */

table {
  font-size: .923em;
  border: 1px solid #ccc;
}

table td,
table th {
  padding: 4px 10px;
  color: #000;
}

tr.even,
tr.odd {
  border-color: #ccc;
  background: #eee;
}

tr.odd {
  background: #fff;
}

tr.drag {
  background: #edcc49;
}

tr.drag-previous {
  background: #ffb;
}

table th {
  background: #ccc;
  padding: 4px 10px;
  color: #fff;
}

/**
 * Force browsers to calculate the width of a 'select all' TH element.
 */

table.system-status-report tr {
  border-bottom: 1px solid #ccc;
}

tr td:last-child {
  border-right: 1px solid #ccc;
}

td.status-icon {
  background: no-repeat right center;
  background-size: 16px 16px;
}

tr.info td.status-icon {
  background-image: url("../images/message-16-info.png");
}

tbody tr:hover {
  background-color: #ddd;
}

/**
 * Fieldsets.
 */

fieldset {
  border: 1px solid #ddd;
  border-radius: 10px;
}

fieldset .fieldset-legend {
  color: #888;
}

fieldset .fieldset-wrapper {
  padding: 0 15px 5px 15px;
}

fieldset fieldset {
  background-color: #fff;
}

fieldset fieldset fieldset {
  background-color: #eee;
}

/**
 * Form elements.
 */

.form-item {
  padding: 6px 0;
}

.form-item label {
  margin: 0 0 3px;
}

.form-item label.option {
  font-size: .923em;
}

.form-disabled input.form-autocomplete,
.form-disabled input.form-text,
.form-disabled input.form-file,
.form-disabled textarea.form-textarea,
.form-disabled select.form-select {
  background-color: #eee;
  color: #888;
  border-radius: 16px;
}

/**
 * Filter.
 */

.filter-wrapper .form-item,
.filter-wrapper .filter-guidelines,
.filter-wrapper .filter-help {
  font-size: .923em;
}

ul.tips,
div.description,
.form-item div.description {
  color: #888;
  opacity: 1;
}

input,
textarea,
select {
  outline: none;
}

input:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
}

input.form-submit,
a.button {
  padding: 4px 15px;
  margin-bottom: .5em;
  color: #fff;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  border: none;
  border-radius: 16px;
  background: #4197cc none;
}

input.form-submit:hover {
  background-color: #0073ba;
}

input#edit-submit,
input#edit-actions-save {
  background-color: #7cbc48;
}

input#edit-submit:hover,
input#edit-actions-save:hover {
  background-color: #367d02;
}

a.button:link,
a.button:visited,
a.button:hover,
a.button:active {
  background-color: #0073ba;
}

input.form-submit:active {
  background: #888;
  color: #fff;
  text-shadow: #333 0 -1px 0;
}

input.form-button-disabled,
input.form-button-disabled:active {
  background: #eee none;
  border-color: #eee;
  color: #ccc;
}

input.form-autocomplete,
input.form-text,
input.form-file,
textarea.form-textarea,
select.form-select {
  padding: 3px 10px;
  border: 1px solid #ccc;
  background: #fff;
  color: #333;
  border-radius: 16px;
}

textarea.form-textarea {
  border-radius: 10px;
}

input.form-text:focus,
input.form-file:focus,
textarea.form-textarea:focus,
select.form-select:focus {
  color: #000;
  border-color: #4197cc;
}

ul.action-links {
  margin: 0;
  padding: 0;
}

ul.action-links a {
  background: transparent url("../images/add.png") no-repeat 0 center;
}

/**
 * System.
 */

div.admin-panel {
  padding: 9px 9px 0;
  background: #eee;
  border: 1px solid #ccc;
  border-radius: 10px;
}

div.admin-panel h3 {
  font-size: .923em;
}

/*
 * Update options.
 */

div.admin-options {
  background: #eee;
  border: 1px solid #ccc;
}

div.admin-options label {
  font: .846em/1.575em -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

ol.task-list li {
  color: #ccc;
}

ol.task-list li.active {
  background: transparent url("../images/task-item.png") no-repeat 3px 50%;
  color: #000;
}

ol.task-list li.done {
  background: transparent url("../images/task-check.png") no-repeat 0 50%;
  color: #367d02;
}

/* Overlay theming */

.overlay #branding {
  background-color: #fff;
}

/* Dashboard */

#dashboard .dashboard-region div.block h2 {
  background: #ccc;
}

#dashboard .dashboard-region .block {
  border: #ccc 1px solid;
}

/* Field UI */

#field-display-overview tr.field-formatter-settings-changed {
  background: #ffb;
}

#field-display-overview tr.drag {
  background: #edcc49;
}

#field-display-overview tr.field-formatter-settings-editing {
  background: #ccc;
}

#overlay-disable-message a,
#overlay-disable-message a:visited {
  color: #000;
}

.overlay-disable-message-focused #overlay-dismiss-message {
  color: #fff;
  border-radius: 10px;
}

#edit-status .filters .form-item {
  float: left;
}

.form-managed-file .form-file,
.form-managed-file .form-submit {
  margin: 0 10px 0 0;
}

/*
 * Messages.
 */

div.messages {
  border-radius: 4px;
}

.update .info {
  padding-top: .25em;
}

.views-ui-display-tab-bucket .even {
  background-color: #eee;
}

/**
 * Autocomplete.
 */

#autocomplete ul li {
  width: 100%;
  display: table;
  padding: 5px 7px;
}

#autocomplete ul li img {
  width: 24px;
  height: 24px;
  padding-right: 7px;
}

#autocomplete ul li * {
  display: inline-block;
  vertical-align: middle;
}

#autocomplete ul li:hover {
  background-color: #4197cc;
}

#autocomplete ul li:focus {
  background-color: #4197cc;
}

/**
 * Chosen.
 */

.chosen-container-multi .chosen-choices {
  padding: 3px 10px;
  border-color: #ccc;
  border-radius: 16px;
  box-shadow: none;
}

.chosen-container .chosen-results li.active-result.highlighted {
  background-color: #4197cc;
  color: #fff;
}
